<!--Content Page-->

<div class="container" style="max-width: none;">
  <div class="row" style="margin: 10px;">
    <div class="flex-container" style="flex-direction: row;">
      <div class="mypicdiv " >
        <img class="mypic " src="Assets/images/mypic.jpg" alt="">

      </div>
      <div>
        <h2 class="tm-page-title">Visal Sarala Mohan</h2>
      </div>

    </div>
    <div class="content-div">
      <p class="tm-page-content">Enthusiastic, forward-looking professional with 3 years of experience in developing and
        maintaining applications. Knowledgeable of scrum
        and agile methodologies and best practices for the software development life cycle. A responsive team member to
        collaborate with high
        performing technical teams to realize project goals. Proven capability to prioritize tasks, diagnose and
        troubleshoot critical problem areas.

      </p>
      <a href="Content/resume.pdf"> <button type="button" class="btn btn-primary" id="submitBtn" >Resume</button></a>


    </div>
  </div>

</div>