

 <!--Content Page-->
 <div class="content">
 <!-- <section class="bg-light text-dark p-5 text-center text-sm-start" style="margin-top: 1%;"> -->
  <div class="container">
      <div class="d-sm-flex align-items-center justify-content-between">
          <div class="container">
              <div>
                  <h1>Visal Sarala Mohan</h1>
                  <p>
                    I am a software developer with 3 years of experience in Java Spring Boot development. 
                    I have a track record of delivering and maintaining applications for major clients in 
                    an agile environment. I am experienced in full-stack development and proficient in Apache Camel,
                     a robust integration framework. I have a strong understanding of scrum and agile methodologies 
                     and best practices for the software development life cycle. I am a team player 
                     and have demonstrated the ability to effectively collaborate with high-performing technical teams 
                     to achieve project goals. My troubleshooting skills and ability to prioritize tasks have
                      proven valuable in critical problem areas.
                  </p>
              </div>
          </div>
      </div>
      <div class="col col-xs-12 col-md-6 mr-6">
          <a class="btn btn-success" style="color:white" href="/content/resume.pdf">Resume</a>
      </div>
  </div>
<!-- </section> -->
</div>

  
<%- include partials/bottom_nav.ejs %>  
<%- include partials/footer.ejs %>