<div class="container" style="max-width: none;" >
         <div class="row">
            
            <form id="myForm" style=" margin-left: 20%;margin-top: 0.5em;margin-bottom: 1em; width: auto;">
                <div class="form-group">
                    <label for="name" style="font-size: 15px;">Name</label>
                    <input name="name" required type="text" class="form-control"  style="width: 100%;"  id="name" placeholder="Enter Name">
                  </div>
                <div class="form-group">
                  <label for="email" style="font-size: 15px;">Email address</label>
                  <input name="email" type="email" class="form-control " style="width: 100%;" id="email"  placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="num" style="font-size: 15px;">Mobile Number</label>
                    <input name="mobile_num" type="number" class="form-control " style="width: 100%;" id="num"  placeholder="Enter Mobile number">
                  </div>
                <div class="form-group">
                    <label for="msg" style="font-size: 15px;">Message</label>
               <br>
                    <textarea name="message" class="form-control"style="width: 100%; border-radius: 5px;" placeholder="Enter Message"  ></textarea>
                </div>
                    <a href="home" >
                        <button type="button" class="btn btn-primary" id="submitBtn" >Submit</button>
                    </a>
        
        
              </form>
              <div class="column" style="align-items: center; margin-left: 100px; margin-top: 30px;">
                <h1 style="text-decoration: underline;">Contact Details</h1>
                <br>
                <label style="font-size: 15px;">Visal Sarala Mohan</label>
                <br>
                <label style="font-size: 15px;">25 Alice Crescent</label>
                <br>
                <label style="font-size: 15px;">Scarborough, Toronto</label>
                <br>
                <label style="font-size: 15px;">Canada</label>
                <br>
                <label style="font-size: 15px;">Mob: 4372560062</label>


              </div>
         </div>       

    

</div>