<!--Adding different Projects-->
<div class="container" style="max-width: none;">
    <div class="row " style="padding: 3%; color: black;">
        
        <div class="col col-lg-4" style="padding: 4%">
            <div class="card" style="width: 15rem; height: 15rem; ">
                <img class="card-img-top" src="Assets/images/ust.png" style="height: 8rem;">
                <div class="card-body">
                    <h5 class="card-title">UST Global</h5>
                    <p class="card-text">Medicare Integration API</p>

                </div>
            </div>
        </div>

        <div class="col col-lg-4" style="padding: 4%">

            <div class="card" style="width: 15rem; height: 15rem;">
                <img class="card-img-top" src="Assets/images/inapp.png" style="height: 8rem;">
                <div class="card-body">
                    <h5 class="card-title">Inapp Technologies</h5>
                    <p class="card-text" ">
                        Workforce Management Application
                    </p>

                </div>
            </div>
        </div>

        <div class="col col-lg-4" style="padding: 4%">
            <div class="card" style="width: 15rem; height: 15rem;">
                <img class="card-img-top" src="Assets/images/wimtach.png" style="height: 8rem;">
                <div class="card-body">
                    <h5 class="card-title">WIMTACH</h5>
                    <p class="card-text">
                        Web Application Development
                    </p>

                </div>
            </div>
        </div>

       
    </div>
</div>
</div>

