<div class="container" style="max-width: none;">
    <div class="row " style="padding: 3%;  color: black;">
        <div class="col col-lg-4" style="padding: 4%">
            <div class="card" style="width: 15rem; height: 15rem; ">
                <img class="card-img-top" src="Assets/images/webdev.png" style="height: 8rem;">
                <div class="card-body">
                    <h5 class="card-title">Web Application Development</h5>
                </div>
            </div>
        </div>

        <div class="col col-lg-4" style="padding: 4%">
            <div class="card" style="width: 15rem; height: 15rem;">
                <img class="card-img-top" src="Assets/images/mobdev.jpeg" style="height: 8rem;">
                <div class="card-body">
                    <h5 class="card-title">Mobile App Development</h5>


                </div>
            </div>
        </div>

        <div class="col col-lg-4" style="padding: 4%">
            <div class="card" style="width: 15rem; height: 15rem;">
                <img class="card-img-top" src="Assets/images/data.jpeg" style="height: 8rem;">
                <div class="card-body">
                    <h5 class="card-title">Data Integration</h5>


                </div>
            </div>
        </div>


    </div>
</div>
</div>