<!-- Adding different services -->
<div class="container" style="max-width: none;">
    <div class="row " style="padding: 2%;  color: black;">
        <div class="col col-lg-4" style="padding: 4%">
            <div class="card" style="width: 12rem; height: 12rem; ">
                <img class="card-img-top" src="Assets/images/webdev.png" style="height: 8rem;">
                <div class="card-body">
                    <h5 class="card-title">Web Application Development</h5>
                </div>
            </div>
        </div>

        <div class="col col-lg-4" style="padding: 4%">
            <div class="card" style="width: 12rem; height: 12rem;">
                <img class="card-img-top" src="Assets/images/mobdev.jpeg" style="height: 8rem;">
                <div class="card-body">
                    <h5 class="card-title">Mobile App Development</h5>


                </div>
            </div>
        </div>

        <div class="col col-lg-4" style="padding: 4%">
            <div class="card" style="width: 12rem; height: 12rem;">
                <img class="card-img-top" src="Assets/images/data.jpeg" style="height: 8rem;">
                <div class="card-body">
                    <h5 class="card-title">Data Integration</h5>


                </div>
            </div>
        </div>
        <br>
        <div style="color: white;">
            <p> Mobile App Development involves creating software applications for mobile devices, such as smartphones and tablets. Services include designing the user interface, developing features and functionality, testing, and deployment.
                Web App Development involves building web-based applications that can be accessed through a web browser. Services include designing the user interface, developing features and functionality, testing, and deployment.
                Data Integration refers to the process of combining data from different sources into a single, unified view. Services include data mapping, data conversion, data extraction, data loading, data validation, and data reconciliation.
                        </p>
           </div>

    </div>
</div>
</div>