<!-- Adding Home Page -->
<div class="container" ; style="max-width: none">
  <div class="align-items-center justify-content-between"
    style="margin-top: 10%; text-align: center; position: relative">
    <marquee width="60%" direction="left">
      Welcome to my Personal site.
    </marquee>
    <h1 class="heading-text">Visal Sarala Mohan</h1>
    <p>Develope<a class="ref-chara" href="about">r</a></p>
    <a href="about" class="smLinks"><i class="fa fa-arrow-right"></i></a>
    <div class="icon-cls" style="height: 10px; justify-content: center; margin-top: 10%">
      <a href="https://www.facebook.com/vishal.smohan" class="smLinks"><i class="fa fa-facebook"></i></a>
      <a href="https://github.com/Visalsmohan" class="smLinks">
        <i class="fa fa-github"></i></a>
      <a href="https://www.instagram.com/vishalsmohan/" class="smLinks"><i class="fa fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/visal-s-02156588" class="smLinks">
        <i class="fa fa-linkedin-square"></i></a>
    </div>
  </div>
</div>